.container {
  margin-top: 50px;
  align-items: center;
}

.image-grid {
  width: 50vw;
  height: 40vw;
  display: grid;
  grid-gap: 0.5vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
}

.image-item:nth-child(5n) {
  grid-column-end: span 2;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
