@font-face {
  font-family: "SF-Pro";
  src: url("Fonts/SF/SF-Pro-Display-Black.otf") format("opentype");
}

.HomeCarousel {
  width: 100vw;
  height: 50vh;
  margin-bottom: 2vh;
}

.image1 {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  object-position: 0% 15%;
}

.image2 {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  object-position: 0% 50%;
}
